<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zalogowany</title>
    {% load static %}
    <link href="{% static 'css/common.css' %}" rel="stylesheet" />
    <link href="{% static 'css/button.css' %}" rel="stylesheet" />
</head>
<body>
<img src="https://cdn.discordapp.com/attachments/1110236567441784923/1114477874292985866/Website-image.webp" width="270" height="160" alt="Logo">

<h3>Zaloguj się</h3>

<form action="/logowanie" method="post">
    {% csrf_token %}
    <label for="">Nazwa_użytkownika</label>
    <input type="text" id="nazwa_uzytkownika" name="nazwa_uzytkownika" placeholder="Podaj nazwę użytkownika " required>
    <br>
    <br>
    <label for="">Hasło</label>
    <input type="password" id="password1" name="password1" placeholder="Podaj hasło " required>
    <br>
    <br>
    <button type="submit" class="btn">Logowanie</button>
</body>
</html>